.Header {
  background-color: rgba(229, 66, 27, 0.9);
  color: white;
  height: 50px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 0;
  margin-bottom: 1rem;
}

.Header h1 {
  font-size: calc(1rem + 2.5vw);
  margin: 0;
  padding: .5rem;
  text-align: center;
}

.Form {
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  background-color: rgba(2, 100, 212, 0.8);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
}

.Form div {
  flex: 1 1 auto;
}

.Form input {
  font-size: 1rem;
  padding: .2rem;
  width: 25%;
  margin: .5rem 1rem auto;
  text-align: center;
}